body { /*Css styling för hela bodyn*/
	background-color: grey;
	margin: 0;
	padding: 0;
}

.wrapper { /*Design för min grid container så som bredd, grid kolumner, grid rader, min höjd och vad som ska inkluderas i griden*/
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: "header header"
    "main main"
    "footer footer";
	min-height: 100vh;
}
 
ul li a:link{ /*LoVe Focus HAte*/
	color:rgb(128, 0, 128)
}
ul li a:visited{
	color:green;
}
ul li a:hover{
	background-color: rgb(10, 10, 10);
	color:white;
	font-size: large;
}
ul li a:focus{
	font-weight: bold;
}
ul li a:hover{
	text-decoration: underline;
}
ul li a:active{
	color:lightblue;
}

header { /*Css för header och grid area för headern*/
	grid-area: header;
}

nav { /*Css för NAV och grid area för naven*/
	grid-area: nav;
}

nav > ul { /*Css för NAV UL t.e.x kolumner för element, färg, höjd, position osv.*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: rgba(0,0,0,1);
	padding: 1%;
	margin: 0;
	height: 100%;
	border-radius: 1em;
}

nav li { /*Css för list element som storlek och dekoration*/
	list-style-type: none;
	text-align: center;
	font-size: 1.5em;
}

li a:hover {
	list-style-type: none;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

nav a {
	height: 100%;
	width: 100%;
	display: inline-block;
	text-decoration: none;
}

h1 { /*Css för rubrik som position, färg och textstorlek*/
	text-align: center;
	font-size: 5em;
	color: white;
}

footer { /*Css för footer som textstorlek, textposition, gridposition, kolumn osv.*/
	text-align: center;
	font-size: 3em;
	grid-area: footer;
	padding: 1%;
	margin: 0;
	background-color: #000;
}

footer p { /*Css för p tag i footer*/
	margin: 0;
	color: white;
}

main { /*Css för main som kolumner, rader och gridposition för main*/
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

section { /*Css för section som textposition, textstorlek och textfärg*/
	font-size: 1.5em;
	text-align: center;
	color: white;
}

.metal { /*Css för bild som bredd, position*/
	width: 60vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.lemmy {
	width: 60vh;
	height: 30vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.metallica {
	width: 20vh;
	height: 10vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.inflames {
	width: 20vh;
	height: 10vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.slipknot {
	width: 20vh;
	height: 10vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

table, th, td { /*Css för tabell som position, design för rader*/
	border: 1px solid;
	margin-top: 2em;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(even) { /*Zebra striping i tabell*/
	background-color: #222;
}

#instrument {                      /*ID-SELEKTORER för varje sida. För att skilja design med olika antal spalter.*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#support {
	display: grid;
	grid-template-columns: 1fr;
}

aside {
	font-size: 1.5em;
	color: white;
}

h2 { /*Css för rubrik 2*/
	font-size: 2em;
	color: white;
	text-align: center;
}

@media (max-width:600px) { /*Responsivitet för olika enheter*/
	nav ul {
		flex-direction: column;
	}
}