body { /*Css för hela bodyn*/
	background-color: grey;
	margin: 0;
	padding: 0;
}

.wrapper { /* Css för min grid container */
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: "header header"
    "main main"
    "footer footer";
	min-height: 100vh;
}

header { /* Css för header och grid area i headern */
	grid-area: header;
}

nav { /* Css för globala menyn/nav specifikt */
	grid-area: nav;
}

nav > ul { /* Css för Nav och ul elementen i naven */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: black;
	padding: 1%;
	margin: 0;
	height: 100%;
}

nav li { 
	list-style-type: none;
	text-align: center;
	font-size: 1.5em;
}

li a {
	list-style-type: none;
	text-decoration: none;
	color: white;
}

nav a {
	height: 100%;
	width: 100%;
	display: inline-block;
	text-decoration: none;
}

h1 { /* Css för rubrik */
	text-align: center;
	font-size: 5em;
	color: white;
}

footer { /* Css för footer /*/
	text-align: center;
	font-size: 3em;
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr;
	padding: 1%;
	margin: 0;
	background-color: black;
}

footer p { /* Css, position och färg för p taggen i footer */
	margin: 0;
	color: white;
}

main { /* Css för main och grid arean för main */
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

section { /* Css för section som textstorlek, textposition och färg */
	font-size: 1.5em;
	text-align: center;
	color: white;
}

.metal { /* Klass för bild, bredd, position*/
	width: 60vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.lemmy { /* Klass för bild, bredd, position*/
	width: 60vh;
	height: 30vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.metallica { /* Klass för bild, bredd, position*/
	width: 20vh;
	height: 10vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.inflames { /* Klass för bild, bredd, position*/
	width: 20vh;
	height: 10vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.slipknot { /* Klass för bild, bredd, position*/
	width: 20vh;
	height: 10vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

table, th, td { /* Css för tabell */
	border: 1px solid;
	margin-top: 2em;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(even) { /*Färg för tabell/zebra striping */
	background-color: #222;
}

#instrument { /* Id selektor */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#support { /* Id selektor */
	display: grid;
	grid-template-columns: 1fr;
}

aside {
	font-size: 1.5em;
	color: white;
}

h2 {
	font-size: 2em;
	color: white;
	text-align: center;
}

@media (max-width:600px) {
	nav ul {
		flex-direction: column;
	}
}